/*
** Type Styles
*/

a {
  text-decoration: none;
  color: #252525;
}

ul a, .questions a {
  display: inline-block;
  border-bottom: 2px solid transparent;

  &:hover {
    border-bottom: 2px solid #BCBCBC;
    transition: all 0.3s ease;
  }
}