/*
** Signup Page Styles
*/

/* Header */

.signup-header {
  padding-top: 4em;

  .container {
    max-width: 420px;
  }

  p {
    font-size: 1.25em;
    font-weight: 300;
    text-align: center;
  }
}